@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #b71c1c, #1e1e1e);
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

nav {
    background: #b71c1c;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5em 1em;
    border-radius: 5px;
}

nav a:hover {
    background-color: #d32f2f;
}

.content {
    flex: 1;
    padding: 2em;
    animation: fadeIn 2s;
    overflow-y: auto;
    display: none; /* Hide all content by default */
}

.content.active {
    display: block; /* Show active content */
}

.downloads a, .credits a, .profiles a {
    color: #ff5252;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #333;
    border-radius: 5px;
    transition: box-shadow 0.3s, border-color 0.3s, background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #1e1e1e;
}

.downloads a:hover, .credits a:hover, .profiles a:hover {
    color: #ff8a80;
    border-color: #ff8a80;
    box-shadow: 0 4px 8px rgba(255, 82, 82, 0.4);
    background-color: #333;
}

.loading {
    display: none;
    text-align: center;
    padding: 2em;
    font-size: 1.5em;
    color: #ff5252;
}

.profiles {
    margin-top: 1em;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1em;
}

.profile p {
    margin: 0;
    color: #ff8a80;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}